# Translating Basic Excel to Python

## Importing

In [ ]:
import pandas as pd

## Read Excel File and Assign to Variable Named `df`

In [ ]:
df = pd.read_excel("https://raw.githubusercontent.com/sadams26/excel_to_python/main/data/AB_NYC_2019.xlsx")

## View First Five Rows with `head`

In [ ]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

## Display First Five Rows with Indexing

In [ ]:
df[0:5]

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

## Display First Five Rows and Select Columns with `loc`

In [ ]:
df.loc[0:5, ["id", "name", "host_id", "host_name"]]

     id                                              name  host_id    host_name
0  2539                Clean & quiet apt home by the park     2787         John
1  2595                             Skylit Midtown Castle     2845     Jennifer
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632    Elisabeth
3  3831                   Cozy Entire Floor of Brownstone     4869  LisaRoxanne
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192        Laura
5  5099         Large Cozy 1 BR Apartment In Midtown East     7322        Chris

## Display All Rows and Select Columns

In [ ]:
df.loc[:, ["id", "name", "host_id", "host_name"]]

             id  ...      host_name
0          2539  ...           John
1          2595  ...       Jennifer
2          3647  ...      Elisabeth
3          3831  ...    LisaRoxanne
4          5022  ...          Laura
...         ...  ...            ...
48890  36484665  ...        Sabrina
48891  36485057  ...        Marisol
48892  36485431  ...  Ilgar & Aysel
48893  36485609  ...            Taz
48894  36487245  ...     Christophe

[48895 rows x 4 columns]

## Display All Rows and All Columns

In [ ]:
df.loc[:,]

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]

## Display All Rows Where the Neighbourhood Group is Brooklyn

In [ ]:
df.loc[:, "price"]

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [ ]:
df.loc[df["neighbourhood_group"]=="Brooklyn", ]

             id  ... availability_365
0          2539  ...              365
3          3831  ...              194
6          5121  ...                0
12         5803  ...              314
15         6848  ...               46
...         ...  ...              ...
48882  36482231  ...               31
48884  36482783  ...              341
48887  36483152  ...              365
48890  36484665  ...                9
48891  36485057  ...               36

[20104 rows x 16 columns]

## Display All Rows Where the Neighbourhood Group is Brooklyn or Manhattan

In [ ]:
df.loc[df["neighbourhood_group"].isin(["Brooklyn", "Manhattan"]), ]

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[41765 rows x 16 columns]

## Display All Rows Where the Neighbourhood Group is **NOT** Brooklyn

In [ ]:
df.loc[df["neighbourhood_group"]!="Brooklyn", ]

             id  ... availability_365
1          2595  ...              355
2          3647  ...              365
4          5022  ...                0
5          5099  ...              129
7          5178  ...              220
...         ...  ...              ...
48888  36484087  ...               31
48889  36484363  ...              163
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[28791 rows x 16 columns]

## Output the Mean Price

In [ ]:
df.loc[:, ["price"]].mean()

price    152.720687
dtype: float64

## Output Multiple Descriptive Measures with `describe`

In [ ]:
df.loc[:, ["price"]].describe()

              price
count  48895.000000
mean     152.720687
std      240.154170
min        0.000000
25%       69.000000
50%      106.000000
75%      175.000000
max    10000.000000

## Create a Pivot Table

In [ ]:
pd.pivot_table(df, values="price", index="neighbourhood_group", aggfunc="mean", margins=True)

                          price
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332
All                  152.720687